.contacts {
    margin: 0 auto;
    width: 375px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

@media screen and (min-width: 1300px) {
    .contacts {
        width: 1240px;
        flex-direction: column-reverse;
    }
}