.section-footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 19, 19, 1);
}

@media screen and (min-width: 1300px) {
    .section-footer {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../images/contacts/bacground.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}