.header {
    margin: 0 auto;
    padding: 21px 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1155px) {
    .header {
        padding: 24px 90px;
    }
}