.slider__button {
    min-width: 36px;
    min-height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1300px) {
    .slider__button {
        min-width: 85px;
        min-height: 85px;
    }
}