.clients {
    margin: 0 auto;
    max-width: 1240px;
    display: none;
}


@media screen and (min-width: 1300px) {
    .clients {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
}