.control__form {
    margin: 80px 0 0;
    display: flex;
    flex-direction: column;
    min-width: 340px;
}

@media screen and (min-width: 1300px) {
    .control__form {
        margin-top: 90px;
        min-width: 820px;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 3 1fr;
        grid-template-rows: 2 1fr;
        gap: 35px 35px;
        grid-template-areas:
            "name number button"
            "checkbox checkbox checkbox"
    }
}