.request__link-two {
    margin: 0;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    background-image: url(../../../images/request/02.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}