/*.section-footer__suptitle {
    margin: 0;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 1300px) {
    .section-footer__suptitle {
        margin-top: 48px;
    }
}*/