.repairs__title {
    margin: 80px auto 0;
    color: rgba(24, 24, 24, 1);
    font-size: 22px;
    line-height: 138.6%;
    text-transform: uppercase;
}

@media screen and (min-width: 1300px) {
    .repairs__title {
        margin-top: 148px;
        font-size: 20px;
        line-height: 28px;
    }
}