.projects__suptitle {
    margin: 22px auto 0;
    max-width: 300px;
    font-size: 11px;
    line-height: 158.48%;
}

@media screen and (min-width: 1300px) {
    .projects__suptitle {
        max-width: 440px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        text-align: left;
        margin-top: 34px;
        margin-left: 0;
        margin-right: 0;
        font-size: 14px;
        line-height: 27px;
    }
}