.control__button-img {
    margin: 0 auto;
    min-width: 12px;
    min-height: 12px;
    color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 1300px) {
    .control__button-img {
        min-width: 28px;
        min-height: 28px;
    }
}