.section-footer__form {
    margin: 0 auto;
}


@media screen and (min-width: 1300px) {
    .section-footer__form {
        width: 883px;
        padding-left: 180px;
        padding-right: 180px;
        background-color: #181818;
    }
}