.repairs__title-block {
    margin-left: 31px;
    color: rgba(24, 24, 24, 1);
    font-size: 15px;
    line-height: 138.6%;
    text-transform: uppercase;
    text-align: left;
    color: #363636;
}

@media screen and (min-width: 1300px) {
    .repairs__title-block {
        font-size: 18px;
        line-height: 25px;
    }
}