.repairs__title-block {
    margin: 0;
    margin-left: 31px;
    margin-bottom: 12px;
    color: rgba(24, 24, 24, 1);
    font-size: 15px;
    line-height: 138.6%;
    text-transform: uppercase;
    text-align: left;
    color: #363636;
}