.footer {
    margin: 0 auto;
    padding: 48px 92px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (min-width: 1155px) {
    .footer {
        max-width: 1440px;
    }
}