.repairs__button {
    min-width: 190px;
    min-height: 40px;
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 138.6%;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    position: absolute;
    left: 0;
    bottom: -20px;
}