.section-footer__button-submit {
    margin: 0 18px -25px;
    width: 340px;
    min-height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
}

@media screen and (min-width: 1300px) {
    .section-footer__button-submit {
        margin: 0;
        margin-bottom: 34px;
        width: 200px;
    }
}