@import url(../vendor/normalize.css);
/*__________________________________________________________*/
@import url(../vendor/fonts.css);
/*__________________________________________________________*/
@import url(../blocks/disable/disable.css);
/*__________________________________________________________*/
@import url(../blocks/body/body.css);
/*__________________________________________________________*/
@import url(../blocks/logo/logo.css);
/*__________________________________________________________*/
@import url(../blocks/link/link.css);
/*__________________________________________________________*/
@import url(../blocks/black-style/black-style.css);
/*__________________________________________________________*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/hyader__logo.css);
@import url(../blocks/header/__content/header__content.css);
/*__________________________________________________________*/
@import url(../blocks/contact/contact.css);
@import url(../blocks/contact/__button/contact__button.css);
@import url(../blocks/contact/__phone/contact__phone.css);
/*__________________________________________________________*/
@import url(../blocks/content/content.css);
/*__________________________________________________________*/
@import url(../blocks/nav/nav.css);
@import url(../blocks/nav/__link/nav__link.css);
@import url(../blocks/nav/__links/nav__links.css);
/*__________________________________________________________*/

/*__________________________________________________________*/
@import url(../blocks/button/button.css);
/*__________________________________________________________*/
@import url(../blocks/text-style/text-style.css);
/*__________________________________________________________*/
@import url(../blocks/title/title.css);
/*__________________________________________________________*/
@import url(../blocks/suptitle/suptitle.css);
/*__________________________________________________________*/
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__block/cover__block.css);
@import url(../blocks/cover/__buttons/cover__buttons.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__suptitle/cover__suptitle.css);
@import url(../blocks/cover/__button/cover__button.css);
@import url(../blocks/cover/__button/_style/cover__button_style.css);
/*__________________________________________________________*/
@import url(../blocks/projects/projects.css);
@import url(../blocks/projects/__title/projects__title.css);
@import url(../blocks/projects/__suptitle/projects__suptitle.css);
@import url(../blocks/projects/__grid/projects__grid.css);
@import url(../blocks/projects/__grid-title/projects__grid-title.css);
@import url(../blocks/projects/__grid-slider/projects__grid-slider.css);
@import url(../blocks/projects/__grid-city/projects__grid-city.css);
@import url(../blocks/projects/__grid-apartament/projects__grid-apartament.css);
@import url(../blocks/projects/__grid-cost/projects__grid-cost.css);
@import url(../blocks/projects/__grid-time/projects__grid-time.css);
@import url(../blocks/projects/__title-gryd/projects__title-gryd.css);
@import url(../blocks/projects/__suptitle-gryd/projects__suptitle-gryd.css);
@import url(../blocks/projects/__grid-menu/projects__grid-menu.css);
@import url(../blocks/projects/__grid-link/projects__grid-link.css);
@import url(../blocks/projects/__grid-image/projects__grid-image.css);
@import url(../blocks/projects/__grid-switch/projects__grid-switch.css);
@import url(../blocks/projects/__switchi-left/projects__switchi-left.css);
@import url(../blocks/projects/__switchi-bubble/projects__switchi-bubble.css);
@import url(../blocks/projects/__switchi-right/projects__switchi-right.css);
@import url(../blocks/projects/__activ-bubble/projects__activ-bubble.css);
/*__________________________________________________________*/
@import url(../blocks/slider/slider.css);
@import url(../blocks/slider/__button/slider__button.css);
@import url(../blocks/slider/__button-img/slider__button-img.css);
@import url(../blocks/slider/__item/slider__item.css);
/*__________________________________________________________*/
@import url(../blocks/control/control.css);
@import url(../blocks/control/__title/control__title.css);
@import url(../blocks/control/__image-block/control__image-block.css);
@import url(../blocks/control/__image/control__image.css);
@import url(../blocks/control/__video/control__video.css);
@import url(../blocks/control/__button/control__button.css);
@import url(../blocks/control/__video-block/control__video-block.css);
@import url(../blocks/control/__button-img/control__button-img.css);
@import url(../blocks/control/__suptitle/control__suptitle.css);
@import url(../blocks/control/__image-long/control__image-long.css);
@import url(../blocks/control/__form/control__form.css);
@import url(../blocks/control/__input/control__input.css);
@import url(../blocks/control/__button-submit/control__button-submit.css);
@import url(../blocks/control/__grid-name/control__grid-name.css);
@import url(../blocks/control/__grid-number/control__grid-number.css);
@import url(../blocks/control/__grid-checkbox/control__grid-checkbox.css);
@import url(../blocks/control/__grid-suptitle/control__grid-suptitle.css);
@import url(../blocks/control/__checkbox-text/control__checkbox-text.css);
/*__________________________________________________________*/
@import url(../blocks/form/form.css);
@import url(../blocks/form/__suptitle/form__suptitle.css);
@import url(../blocks/form/__label-input/form__label-input.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__label-checkbox/form__label-checkbox.css);
@import url(../blocks/form/__checkbox/form__checkbox.css);
@import url(../blocks/form/__checkbox-anable/form__checkbox-anable.css);
@import url(../blocks/form/__checkbox-text/form__checkbox-text.css);
/*__________________________________________________________*/
@import url(../blocks/repairs/repairs.css);
@import url(../blocks/repairs/__title/repairs__title.css);
@import url(../blocks/repairs/__container/repairs__container.css);
@import url(../blocks/repairs/__block/repairs__block.css);
@import url(../blocks/repairs/__title-block/repairs__title-block.css);
@import url(../blocks/repairs/__list/repairs__list.css);
@import url(../blocks/repairs/__list-items/repairs__list-items.css);
@import url(../blocks/repairs/__list-item/repairs__list-item.css);
@import url(../blocks/repairs/__button/repairs__button.css);
@import url(../blocks/repairs/__image/repairs__image.css);
/*__________________________________________________________*/
@import url(../blocks/section/section.css);
@import url(../blocks/section/__slider/section__slider.css);
@import url(../blocks/section/__title/section__title.css);
/*__________________________________________________________*/
@import url(../blocks/section-footer/section-footer.css);
@import url(../blocks/section-footer/__title/section-footer__title.css);
/*__________________________________________________________*/
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contacts/__image/contacts__image.css);
@import url(../blocks/contacts/__items/contacts__items.css);
@import url(../blocks/contacts/__item/contacts__item.css);
@import url(../blocks/contacts/__title/contacts__title.css);
@import url(../blocks/contacts/__links/contacts__links.css);
@import url(../blocks/contacts/__link/contacts__link.css);
@import url(../blocks/contacts/__link-mail/contacts__link-mail.css);
@import url(../blocks/contacts/__link-inst/contacts__link-inst.css);

/*__________________________________________________________*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__block/footer__block.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__button/footer__button.css);
/*__________________________________________________________*/