@import url(../vendor/normalize.css);
/*__________________________________________________________*/
@import url(../vendor/fonts.css);
/*__________________________________________________________*/
@import url(../blocks/disable/disable.css);
/*__________________________________________________________*/
@import url(../blocks/body/body.css);
/*__________________________________________________________*/
@import url(../blocks/logo/logo.css);
/*__________________________________________________________*/
@import url(../blocks/link/link.css);
/*__________________________________________________________*/
@import url(../blocks/black-style/black-style.css);
/*__________________________________________________________*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/hyader__logo.css);
@import url(../blocks/header/__button/header__button.css);
/*__________________________________________________________*/
@import url(../blocks/content/content.css);
/*__________________________________________________________*/
@import url(../blocks/nav/nav.css);
@import url(../blocks/nav/__link/nav__link.css);
@import url(../blocks/nav/__links/nav__links.css);
/*__________________________________________________________*/
@import url(../blocks/phone/phone.css);
/*__________________________________________________________*/
@import url(../blocks/button/button.css);
/*__________________________________________________________*/
@import url(../blocks/text-style/text-style.css);
/*__________________________________________________________*/
@import url(../blocks/title/title.css);
/*__________________________________________________________*/
@import url(../blocks/suptitle/suptitle.css);
/*__________________________________________________________*/
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__suptitle/cover__suptitle.css);
@import url(../blocks/cover/__button/cover__button.css);
@import url(../blocks/cover/__button/_style/cover__button_style.css);
/*__________________________________________________________*/
@import url(../blocks/projects/projects.css);
@import url(../blocks/projects/__title/projects__title.css);
@import url(../blocks/projects/__suptitle/projects__suptitle.css);
@import url(../blocks/projects/__grid/projects__grid.css);
@import url(../blocks/projects/__grid-slider/projects__grid-slider.css);
@import url(../blocks/projects/__grid-city/projects__grid-city.css);
@import url(../blocks/projects/__grid-apartament/projects__grid-apartament.css);
@import url(../blocks/projects/__grid-cost/projects__grid-cost.css);
@import url(../blocks/projects/__grid-time/projects__grid-time.css);
@import url(../blocks/projects/__title-gryd/projects__title-gryd.css);
@import url(../blocks/projects/__suptitle-gryd/projects__suptitle-gryd.css);
/*__________________________________________________________*/
@import url(../blocks/slider/slider.css);
@import url(../blocks/slider/__button/slider__button.css);
@import url(../blocks/slider/__button-img/slider__button-img.css);
@import url(../blocks/slider/__item/slider__item.css);
/*__________________________________________________________*/
@import url(../blocks/control/control.css);



/*__________________________________________________________*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__button/footer__button.css);
/*__________________________________________________________*/