.cover__button_style {
    background: none;
    border: 1px solid #FFF;
    margin-bottom: 61px;
}

@media screen and (min-width: 1300px) {
    .cover__button_style {
        margin-bottom: 208px;
    }
}