.button {
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
    transition-duration: .3s;
}