.projects__title-gryd {
    margin: 0;
    font-size: 14px;
    line-height: 138.6%;
    text-align: left;
}

@media screen and (min-width: 1300px) {
    .projects__title-gryd {
        font-size: 18px;
        line-height: 25px;
    }
}